<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <clear/>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <security>
            <authentication>
                <basicAuthentication enabled="true" />
            </authentication>
        </security>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <clear/>
                <rule name="RewritePHP">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}.php" />
                </rule>
            </rules>
        </rewrite>      
    </system.webServer>
</configuration>