<!DOCTYPE html>
<html lang="zh-cn"> 
  <head>
    <meta charset="UTF-8"/>
    <title>雅诗兰黛</title>
    <meta name="viewport" content="user-scalable=no,width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta name="description" content=""/>
    <link rel="stylesheet" href="/app/esteelauder/main.css"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/view.js"></script>
  </head>
  <body>
  	<div class="bg">
  		<div class="content">
		<div class="des">
			6月8日-6月30日，Travelzoo旅游族会员可预约申领【雅诗兰黛高纯专效红石榴系列】试用装一套（具体以实物为准）
			<ul>		      
			  <li><i></i>鲜活亮采眼部凝露0.5ml</li>
			  <li><i></i>鲜活亮采晚霜1.5ml</li>
			  <li><i></i>鲜活亮采泡澡面膜4ml</li>	
			  <li><i></i>鲜活亮采果萃水滋润型1.5ml</li>	  
			</ul>
			
		</div>
		<div class="form">
			<p class="fwb">留下您的信息即可申领</p>
			<p><input type="text" id="name" name="name" placeholder="姓名"><input type="text" id="city" name="city" placeholder="所在城市"></p>
			<p><input type="tel" id="phone" name="phone" placeholder="手机号"></p>
			<button class="submit">立即申领</button>
		</div>
		<div class="rule">
			<p><i></i>请务必填写真实有效的个人信息；同一手机号只能预约一次。</p>
			<p><i></i>收到“预约成功”的手机短信消息后（消息将在申领后5个工作日内发出），凭确认信息从即日起至2017年6月30日期间，到所在城市的雅诗兰黛专柜领取【高纯专效红石榴试用装】一套，请以实际到柜为准。</p>
   			<p><i></i>7月15日将在所有提交信息的会员中抽取5位获赠雅诗兰黛鲜活亮采果萃水或鲜活亮采眼部凝露正装，以短信通知。</p>
   			<p><i></i>每位用户仅可参与一次抽奖（本活动不与雅诗兰黛其他平台的同活动叠加，短信不重复发送）。</p>  			
   			<p><i></i>数量有限，领完为止，请尽快申领。</p>  			
   			<!-- <p>更多详情，可咨询免费服务热线：800-820-8976 或<a href="#">点击前往雅诗兰黛官网</a></p> -->
		</div>
	</div>
  	</div>
	
	<div class="popup">
		<div class="popup-box">
			<p class="popup-content"></p>
			<p class="popup-line"></p>
			<p class="popup-button">OK</p>
		</div>		
	</div>
    <div style="position: absolute;top:-999em;display:none;">{$cnzz}</div>
    <script src="/app/esteelauder/main.js"></script>
  </body>
</html>