.heading {
    border-bottom: 1px solid #fcab0e;
    margin-bottom: 10px;
}               
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 2px 0;
    padding: 3px 0 6px 5px;
    width: 100px;
}
select.txt{
    border: 1px solid #ccc;
    margin: 2px 0;
    padding: 3px 0 6px 5px;
    width: 110px;
}
.popover{
    min-width:450px;
}
#demo{
    float:right;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px){
    .txt[type="text"] {
        width: 80px;
    }
    body{
        font-size:60%;
    }
} 