{$header}
<!-- <div>
	<ul class="breadcrumb">
		<li><a href="#">基础设置</a></li>
		<li><a href="#">店铺管理</a></li>
	</ul>
</div>
 -->
<div class="row">
	<div class="box col-md-12">
		<div class="box-inner">
			<div class="box-header well" data-original-title="">
				<h2>
					<i class="glyphicon glyphicon-th-large"></i> 优惠券管理
				</h2>
			</div>					
			<div class="box-content">
				<div class="row" style="padding-bottom:10px;">
					<div class="col-xs-12">
						
						<button class="btn btn-default btn-sm ajax-all" onclick="location.href='/coupon_index.html'"><i class="glyphicon glyphicon-list"></i>显示全部</button>
						
						<span style="padding-left:20px;"></span>
						<button class="btn btn-default btn-sm ajax-add" onclick="location.href='/coupon_add.html'"><i class="glyphicon glyphicon-plus"></i> 新 增</button>
						
					</div>
				</div>
				<table class="table table-bordered table-striped table-condensed">
					<thead>
						<tr>
							<th width="2%">id</th>
							<th width="10%">优惠券名</th>
							<th width="10%">描述</th>
							<th width="5%">优惠值</th>
							<th width="10%">过期时间</th>
							<th width="10%">创建时间</th>
							<!-- <th width="5%">排序</th> -->
							<th width="8%">管理</th>
						</tr>
					</thead>
					<tbody>
					{loop $itemList $itemArr}
						<tr>
							<td class="center">{$itemArr["id"]}</td>
							<td class="center">{$itemArr["title"]}</td>
							<td class="center">{$itemArr["desc"]}</td>
							<td class="center">{$itemArr["price"]}</td>
							<td class="center">{$itemArr["expiration_time"]}</td>
							<td class="center">{$itemArr["create_time"]}</td>
							<!-- <td class="center">
								<input type="text" class="form-control" id="rank_{$itemArr['id']}" onblur="setItem({$itemArr['id']},'rank');" value="{$itemArr["rank"]}">
							</td> -->
							<!-- <td class="center"><span class="span-red">active</span></td> -->
							<td class="center">
								<!-- <a class="btn btn-success btn-xs ajax-view" href="coupon_findById_id_{$itemArr['id']}.html">
									<i class="glyphicon glyphicon-zoom-in icon-white"></i> 
									View
								</a>  -->
								<a class="btn btn-info btn-xs ajax-edit" href="/coupon_edit_eid_{$itemArr['id']}.html"> 
									<i class="glyphicon glyphicon-edit icon-white"></i>
									编辑
								</a>
								<a class="btn btn-danger btn-xs ajax-del" href="#" id="{$itemArr['id']}">
									<i class="glyphicon glyphicon-trash icon-white"></i> 
									删除
								</a>
							</td>
						</tr>
					{/loop}
					</tbody>
				</table>
				{$page}
			</div>
		</div>
	</div>
	<!--/span-->

</div>

<script type="text/javascript">
<!--
$('.ajax-del').click(function(){
	var eid = $(this).attr('id');
	if (confirm("你确认删除吗?")==true){
		$.ajax({ url: "/coupon_del.html",dataType:"html",type:"POST",data:"eid="+eid,
			 success:function(v) {
				if (v=="-1") {
					alert("尚未登录！");
					return false;
				}else{
					alert("删除成功！");
					window.location.reload();
				}
			 }
		});
		return false;
	}
});
var setItem = function(eid,item){
	var v = $.trim($("#"+item+"_"+eid).val());
	$.ajax({ url: "/coupon_setItem.html",dataType:"html",type:"POST",data:"eid="+eid+"&item="+item+"&value="+v,
		 success:function(v) {
			if (v=="1") {
				return true;
			}
		 }
	});
};

/*
$(".ajax-search").click(function(){
	var type = $("#type").val();
	var category = $('#category').val();
	var title = $("#title").val();
	location.href='/coupon_index.html?type='+type+'&category='+category+'&title='+title;
});

$(".ajax-search").click(function(){
	var skey = $("#skey").val();
	var svalue = $('#svalue').val();
	var order = $('#order').val();
	var by = $('#by').val();
	location.href='/coupon_index.html?skey='+skey+'&svalue='+svalue+'&order='+order+'&by='+by;
});

$(function(){
	$("#search_item").change(function(){
		var item = $('#search_item').val();
		if(item == "createTime"){
			$("#time_txt_span").show();
			$("#id_txt_span").hide();
			$('#time_from').val("");
			$('#time_to').val("");
		}else{
			$("#time_txt_span").hide();
			$("#id_txt_span").show();
		}
	});

});

$("#type").change(function(){
	var pid = $(this).val();
	$.get("/coupon_getSubclass.html?pid="+pid,function(v){
		$("#category").html(v);
	});
});
*/
//-->
</script>

{$footer}